<launch>
    <!-- arguments of the keyboard teleop node  -->
    <arg name="namespace" default="tello" />
    <arg name="speed" default="0.5" />
    <arg name="repeat_rate" default="0.0" />
    <arg name="key_timeout" default="0.4" />

    <group ns="$(arg namespace)">
        <node name="tello_keyboard_teleop" pkg="keyboard_teleop" type="keyboard_teleop_node.py" output="screen">
            <param name="speed" value="$(arg speed)" /> 
            <param name="repeat_rate" value="$(arg repeat_rate)" />
            <param name="key_timeout" value="$(arg key_timeout)" />
        </node>
    </group>
</launch>